<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="qvt">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/mmt/qvto/updates/releases/latest"/>
			<unit id="org.eclipse.m2m.qvt.oml.common" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.common.source" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.cst.parser" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.cst.parser.source" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.ecore.imperativeocl" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.ecore.imperativeocl.source" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.ocl" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.ocl.source" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.source" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.emf.util" version="0.0.0"/>
			<unit id="org.eclipse.m2m.qvt.oml.emf.util.source" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/latest"/>
			<unit id="org.eclipse.ocl" version="0.0.0"/>
			<unit id="org.eclipse.ocl.source" version="0.0.0"/>
			<unit id="org.eclipse.ocl.common" version="0.0.0"/>
			<unit id="org.eclipse.ocl.common.source" version="0.0.0"/>
			<unit id="org.eclipse.ocl.ecore" version="0.0.0"/>
			<unit id="org.eclipse.ocl.ecore.source" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R202311200811/core/"/>
			<unit id="org.eclipse.emf.compare" version="0.0.0"/>
			<unit id="org.eclipse.emf.compare.source" version="0.0.0"/>
		</location>
	</locations>
</target>